#slideshow-frame {
    position: relative;
    width: 1100px;
    height: 600px;
    top: 100px;
    left: 100px;
    overflow: hidden;
}
#left-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 700px;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    z-index: 1000;
}
#right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 200px;
    height: 700px;
    right: 0;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    z-index: 1000;
}
#slides {
    position: absolute;
    width: 4400px;
    height: 700px;
    left: 100px;
    color: #ffffff;
    background-color:blueviolet;
}
#slides > img {
    display: block;
    width: 1100px;
    float: left;
}
.material-icons {
    font-size: 48px;
}
.material-icons:hover {
    color:antiquewhite;
}
